body{
    font-family: 'Rubik', sans-serif !important;
    font-size: 24px !important;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1140px;
    width: 95%;
}
header{
    padding: 85px 0;
    background-color: #0E0E0E;
    color: #fff;
}
header h1{
    color: #FDC628;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;

}
.agenda{
    padding: 25px 0;
}
.agenda ol{
    padding-left: 30px;
    counter-reset: list;
    list-style: none;
}
.agenda ol li{
    list-style-type: none;
    counter-increment: list;
    position: relative;
    margin-top: 20px;
}
.agenda ol li::before{
    content: counter(list);
    margin-right: 15px;
    position: absolute;
    right: 100%;
}
.title{
    font-size: 32px;
    font-weight: 600;
}
.point-1 ul{
    border-left: 4px solid #111111;
    margin-left: 7px;
    margin: 20px 0;
}
.point-1 ul li{
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    list-style: none;
    max-width: 800px;
    line-height: 36px;
}
.brick{
    text-align: center;
    font-weight: 500;
    padding: 20px;
    border-radius: 8px;
}

.point-2 ul li b{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    display: block;
}
.point-2 ul li p{
    font-size: 18px;
    line-height: 27px;
    margin-top: 10px;
}
.point-2 ul li b::before{
    content: "";
    width: 80%;
    height: 4px;
    background-color: #000;
    left: 0;
    top: -20px;
    position: absolute;
}

.jackpot{
    width: 1022px;
    margin: auto;
    max-width: 100%;
    display: block;
}
.point-3 i{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.point-3 .img-des{
    font-size: 20px;
    line-height: 30px;
    margin-top: 45px;
    margin-bottom: 35px;
}
.point-3 .img-des span{
    margin-bottom: 15px;
    display: inline-block;
}
.list-title{
    font-size: 24px;
    font-weight:500;
    margin-bottom: 0px;
}
.point-3 ul{
    width: 100%;
}
.point-3 ul li{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
}
.res-plan{
    width: 970px;
    margin: auto;
    max-width: 100%;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    margin-top: 48px;
    margin-bottom: 13px;
}
.mini-links{
    font-style: italic;
    font-weight: 500;
    font-size: 15px;
    color:#000;
    word-break: break-all;
    display: block;
}
.under-img{
    width: 970px;
    margin: auto;
    text-align: left;
    max-width: 100%;
}
.mini-links span{
    color: #F17834;
}
.chalan .title{
    font-weight: 500;
    font-size: 28px;
}
.img-info{
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 500;
}
.chalan-qot{
    font-size: 20px;
    font-weight: 500;
    margin: 60px 0;
}
.chalan-qot-2{
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    max-width: 360px;
    margin: 20px auto;
    line-height: 18px;
}
.crutial ul li{
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px; 
    list-style-type: none;
    position: relative;
}
.crutial ul li::before{
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f058";
    position: absolute;
    left: -25px;
    top: 0;
    color: #39D349;

}
.crutial ul li span,.stage .list-title span{
    background-color: #7DFF8A;
}
.parito-title{
    font-weight: 500;
    font-size: 20px;
    color: #104A58;
    text-align: center;
    margin-top: 10px;
}
.parito-des{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.point-4 .qot{
    font-weight: 500;
    font-size: 20px;
    color: #2C2C2C;
}
.point-4 .des{
    font-size: 18px;
    margin-top: 30px;
    max-width: 510px;
}
.point-4 .img-title{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.stage .list-title i{
    color: #39D349;
    font-size: 18px;
    margin-right: 5px;
}
.stage-card {
    padding: 5px 40px;
    border-left: 4px solid #111111;
    min-height: 250px;
    display: flex;
    align-items: center;

}
.stage-card p{
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    color: #393939;
    margin: 0;

}
.top-bar p::before{
    content: "";
    width: 55%;
    height: 4px;
    background-color: #000;
    left: 50%;
    top: -25px;
    position: absolute;
    transform: translateX(-50%);
}


.scences .title{
    margin-top: 50px;
}

.scences .img-bottom{
    font-weight: 400;
    font-size: 22px;
    margin-top: 40px;
}

.scences .img-top{
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}
.scences img{
    min-height: 234px;
}
.point-5{
    padding: 50px 0;
}
.init-title{
    font-size: 20px;
    margin: 20px 0 30px 0px;
}
.point-5 i{
    font-size: 16px;
    color: #383838;
    margin-bottom: 30px;
    display: inline-block;
    line-height: 35px;
    max-width: 1000px;

}
.icon-title{
    font-weight: 500;
    margin: 0;
    position: relative;
}
.icon-title::before{
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f35a";
    position: absolute;
    left: -30px;
    top: 0;
    color: #000;
    font-size: 23px;
}
.arrow-text img{
    margin-right: 30px;
}
.arrow-text{
    margin-top: 70px;
    margin-bottom: 40px;
}
.title-des{
    font-size: 20px;
    margin-bottom: 0;
}
.point-6{
    padding: 20px 0;
}
.point-6 ul{
    padding: 0;
}
.point-6 ul li{
    list-style-type: none;
    color: #45413C;
    margin-top: 30px;
}
.point-6 .heading{
    font-weight: 500;
    font-size: 28px;
    color: #000;
    margin-bottom: 0;
}


.point-7{
    padding: 20px 0;
}
.point-7 ul{
    margin-top: 40px;
    max-width: 900px;
}
.point-7 ul li{
    position: relative;
    list-style: none;
    margin-bottom: 30px;
}
.point-7 ul li::before{
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f35a";
    position: absolute;
    left: -30px;
    top:5px;
    color: #000;
    font-size: 23px;
}
.point-7 .title-7{
    font-weight: 500;
    font-size: 28px;
    color: #CA9154;
}
.point-7 .mini-des-7{
    font-size: 22px;
    color: #DB4797;
}
.point-7 .color-title-7{
    font-weight: 500;
    font-size: 28px;
    color: #DB4797;
}
.point-7 .color-des{
    color: #DB4797;
}
.point-7 .color-des b{
    font-weight: 500;
}
.mini-des-8{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
.note{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    position: relative;
}
.note::before{
    content: "";
    height: 100%;
    width: 4px;
    background-color: #000;
    position: absolute;
    left: -10px;
    top: 0;
}
.top-raf{
    width: 100%;
    min-height: 560px;
    max-width: 315px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.bottom-raf{
    margin-bottom: 30px;
}
.point-9{
    padding: 90px 0;
}
.point-9 ul{
    padding-left: 25px;
}
.point-9 ul li{
    font-style: italic;
    font-size: 22px;
    color: #333333;
    margin-bottom: 20px;
}
.main-que{
    font-weight: 700;
    margin-bottom: 20px;
}
.point-9 .sol{
    display: flex;
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 550px;
}
.point-9 .sol p{
    margin-left: 5px;
}
.prototype{
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}
.sol-3{
    margin: 50px 0;
}
.query-2{
    color: #fff;
}
.query-2 .prototype,.taken-head-row .prototype{
    color: #FEC627;
}
.sol-with-flag{
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 50px;
}
.flag-note{
    color: #FFFFFF;
}
.green-img,.red-img{
    left: 50%;
    display: none;
}


.taken-head-row{
    color: #fff;
}
.taken-head-row .taked-head{
    font-weight: 700;
    font-size: 20px;
    max-width: 400px;

}
.left-ar-div{
    margin-top: 150px;
    padding-right: 0;
    padding-left: 30px;
}

.left-ar-div p{
    margin-bottom: 0;
    font-size: 18px;

}


.right-ar-div{
    padding-right: 30;
    padding-left: 0;
}
.right-ar-div p{
    margin-top: -150px;
    margin-bottom: 0;
    font-size: 18px;
}
.right-arr .taked-head{
    width: 300px;
    margin-left: auto;
    text-align: right;
}



.point-10 .head{
    font-weight: 500;
    margin-top: 30px;
}
.point-10 ul li b{
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.point-10 .label{
    border-left: 4px solid #000;
    padding-left: 30px;
    font-weight: 500;
    margin-top: 30px;
}
.screens{
    max-width: 950px;
    margin: auto;
}



.res-proto{
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.design-idea{
    max-width: 700px;
    margin: 80px auto;
}
.summery li{
    margin-bottom: 40px;
}
.summery li b{
    margin: 0 !important;
}




.back-top{
    text-align: center;
    padding: 50px 0;
    font-weight: 600;

}
.back-top a{
    text-decoration: none;
    color: #000;
}








@media only screen and (max-width:768px){
    .left-ar-div,.right-ar-div p{
        margin-top: 0;
    }
}





/* 124 */